* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.pattern-top {
  width: 1000px;
  height: 1000px;
  position: relative;
  background-image: url(../images/bg-pattern-top.svg);
  left: -10%;
  top: -88vh;
  z-index: -1;
  background-size: cover;
}
@media (max-width: 376px) {
  .pattern-top {
    left: -760px;
    top: -70vh;
  }
}
.pattern-bottom {
  width: 1000px;
  height: 1000px;
  background-image: url(../images/bg-pattern-bottom.svg);
  position: relative;
  right: -50%;
  top: -90vh;
  z-index: -1;
  background-size: cover;
}
@media (max-width: 376px) {
  .pattern-bottom {
    right: -45%;
    top: -80vh;
  }
}
.card {
  width: 330px;
  height: 370px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.top-cover {
  background-image: url(../images/bg-pattern-card.svg);
  width: 100%;
  height: 135px;
}
.card .status-info {
  text-align: center;
  padding-bottom: 25px;
}
.card .status-info img {
  border-radius: 50%;
  margin-top: -52px;
  border: 4px solid white;
  margin-bottom: 15px;
}
.card .status-info h2 {
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  margin-bottom: 8px;
}
.card .status-info h2 span {
  font-weight: normal;
  color: hsl(0, 0%, 59%);
  margin-left: 5px;
}
.card .status-info p {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  font-size: 13px;
}
.card .stat-numbers {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  border-top: 1px solid hsl(0deg 0% 84% / 90%);
}
.card .stat-numbers .stat {
  text-align: center;
}
.card .stat-numbers .stat span {
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}
.card .stat-numbers .stat p {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  font-size: 13px;
  margin-top: 7px;
}
